# MVP

## Question 1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]
shopping

['spam', 'ham', 'eggs', 'ham']

Then do the following:

Extract the second element of the list.

In [3]:
shopping[1]

'ham'

Extract the first to third (inclusive) element of the list.

In [4]:
shopping[0:-1]

['spam', 'ham', 'eggs']

Extract only the last element of the list.

In [5]:
shopping[-1]

'ham'

## Question 2
Set up a list with the following elements:

In [16]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

Perform the following:

Append Edinburgh Waverley to the end of the list

In [17]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

Add "Queen Street" to the start of the list

In [18]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

Find out what index "Croy" is at in the list

In [19]:
stops.index("Croy")

1

Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

In [20]:
stops.insert(stops.index("Linlithgow"), "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

Remove "Haymarket" from the list of stops

In [21]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

Remove all items from stops

In [27]:
stops.clear()
stops

[]

## Question 3

Set up the following dictionary:

In [29]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

Do the following:

Return the keys, values and items from this dictionary

In [30]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [31]:
person.values()

dict_values(['Steph', 31, True])

In [32]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

Take out only the name from it

In [33]:
person["name"]

'Steph'

Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [35]:
person.update({
    "email": "steph@codeclan.com"
})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

Delete the job description from the dictionary (Hint: look up the del function)

In [36]:
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Question 4

For the following list of numbers:

In [49]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

Print out a list of the even integers:

In [41]:
[number for number in numbers if number % 2 == 0]

[6, 2, 2, 6]

Print the difference between the largest and smallest value:

In [42]:
max(numbers) - min(numbers)

98

Print True if the list contains a 2 next to a 2 somewhere.

In [53]:
prev = 0

for i in numbers:
    if i == prev:
        print(True)
    prev = i

True

Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [81]:
sum_numbers = 0
six_seven_flag = False

for i in numbers:
    if six_seven_flag == True:
        if i == 7:
            six_seven_flag = False
    elif i == 6:
        six_seven_flag = True
    else:
        sum_numbers += i
        
sum_numbers

2

## Question 5

Write a conditional that takes in two inputs :

In [62]:
python_is_fun = True
python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [65]:
def python_test(fun, weird):
    if fun == True or weird == True or (fun == True and weird == True):
        print("Woo Python!")
    else:
        print("Python is not for me!")
        
python_test(python_is_fun, python_is_weird)

Woo Python!

In [67]:
python_is_fun = True
python_is_weird = False

python_test(python_is_fun, python_is_weird)

Woo Python!

In [66]:
python_is_fun = False
python_is_weird = False

python_test(python_is_fun, python_is_weird)

Python is not for me!

## Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [88]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]
chickens

[{'name': 'Margaret', 'age': 2, 'eggs': 0},
 {'name': 'Hetty', 'age': 1, 'eggs': 2},
 {'name': 'Henrietta', 'age': 3, 'eggs': 1},
 {'name': 'Audrey', 'age': 2, 'eggs': 0},
 {'name': 'Mabel', 'age': 5, 'eggs': 1}]

To write this as a loop, we'd do something like this:

In [69]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [89]:
def chicken_list(chickens):
    total_eggs = 0
    for chicken in chickens:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0
    return(str(total_eggs) + " eggs collected")

chicken_list(chickens)

'4 eggs collected'

# Extension

## Question 1

Set up the following collection:

In [118]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Swansea'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

Change the capital of Wales from "Swansea" to "Cardiff".

In [119]:
united_kingdom[1]["capital"] = "Cardiff"

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).

In [120]:
united_kingdom.append({
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
})

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

Use a loop to print the names of all the countries in the UK.

In [122]:
for i in range(len(united_kingdom)):
    print(united_kingdom[i]["name"])

Scotland
Wales
England
Northern Ireland

Use a loop to find the total population of the UK.

In [125]:
total_pop = 0

for i in range(len(united_kingdom)):
    total_pop += united_kingdom[i]["population"]
    
print("The total population of the UK is", total_pop)

The total population of the UK is 63179000

## Question 2

Set up the following:

In [178]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

Get Jonathan's Twitter handle (i.e. the string "jonnyt")

In [127]:
users["Jonathan"]["twitter"]

'jonnyt'

Get Erik's hometown

In [128]:
users["Jonathan"]["home_town"]

'Stirling'

Get the array of Erik's lottery numbers

In [169]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24, 7]

Get the species of Avril's pet Monty

In [151]:
users["Avril"]["pets"][0]["species"]

'snake'

Get the smallest of Erik's lottery numbers

In [153]:
min(users["Erik"]["lottery_numbers"])

8

Return an array of Avril's lottery numbers that are even

In [161]:
[number for number in users["Avril"]["lottery_numbers"] if number % 2 == 0]

[12, 14, 38]

Erik is one lottery number short! Add the number 7 to be included in his lottery numbers

In [179]:
users["Erik"]["lottery_numbers"].append(7)

users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24, 7]

Change Erik's hometown to Edinburgh

In [175]:
users["Erik"]["home_town"] = "Edinburgh"

users["Erik"]["home_town"]

'Edinburgh'

Add a pet dog to Erik called "Fluffy"

In [180]:
users["Erik"]["pets"].append({
    "name": "Fluffy",
    "species": "Hedgehog"
})

users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'Hedgehog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

Add another person to the users dictionary

In [183]:
users["Frank"] = [{
    "twitter": "dannydevito",
    "lottery_numbers": [2, 16, 7, 42, 14],
    "home_town": "Philadelphia",
    "pets": {
      "name": "Egg",
      "species": "Egg"
    }}]

In [184]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'Hedgehog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'Frank': [{'twitter': 'dannydevito',
   'lottery_numbers': [2, 16, 7, 42, 14],
   'home_town': 'Philadelphia',
   'pets': {'name': 'Egg', 'species': 'Egg'}}]}